body {
    display: flex;
    flex-direction: column;
}

.add_emp a {
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(1, 57, 241, 0.445);
    margin: 10px;
    text-align: center;
}

.add_emp {
    margin-left: 10px;
    margin-bottom: -20px;
    float: right;
}

.array_emp {
    margin: 30px;
    margin-left: 100px;
    text-align: center;
}

.array_emp span {
    font-size: 23px;
    border: 10px black;
}

.array_emp table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 0px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-size: 16px;
}

.delete-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.delete-link i {
    margin-right: 5px;
}

table a {
    text-align: center;
}

.delete-link:hover {
    text-decoration: none;
}

.social-icon {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    cursor: pointer;
}

.Edite-link {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    animation: forwards;
    font-size: 20px;
    margin-bottom: 16px;
    margin-right: 40px;
}

main {
    min-height: 90vh;
    flex: 1;
}