/* General body styling */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    /* Reduced width for better focus on form */
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Existing shadow for container */
}


/* Form styling */

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Added subtle shadow to form inputs */
}


/* Button styling */

button.btn-cree {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn-cree:hover {
    background-color: #333;
}


/* Styling for input type date to match the form-control style */

input[type="date"].form-control {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}