body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin: 60px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: -30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

textarea {
    height: 60px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    width: 100px;
    border: 1px solid #ccc;
    float: right;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    font-size: 12px;
}

.formdemande {
    margin-bottom: 30px;
    padding: 10px;
}

.envoyer {
    padding: 5px 6px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    border-radius: 8px;
    float: right;
}

#list_demande,
.divform {
    margin: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 13px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #f2f2fa;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.navigation-menu {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    font-family: 'figtree', sans-serif;
    padding: 15px;
    width: 100%;
    margin-bottom: -10px;
}

.fair_demande {
    padding: 5px 6px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    border-radius: 8px;
    margin-top: 8px;
}

.return-icon {
    cursor: pointer;
    color: #000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.return-icon i {
    margin-right: 5px;
}

.navigation-menu {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    font-family: 'figtree', sans-serif;
    padding: 15px;
    position: static;
    width: 100%;
    margin-bottom: -10px;
}

.fair_demande {
    padding: 5px 6px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    border-radius: 8px;
    margin-top: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #f2f2fa;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.return-icon {
    cursor: pointer;
    color: #000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.return-icon i {
    margin-right: 5px;
}

.divform {
    margin: 10px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    font-size: 13px;
}

h2 {
    margin-top: -30px;
}