footer {
    background-color: #807b7b3f;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.social-icon:hover {
    color: #007bff;
}

.fab {
    font-size: 24px;
}

.social-icon {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

main {
    min-height: 90vh;
    flex: 1;
}