/* General body styling */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}


/* Button styles */

a.cree_formation {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
}

a.cree_formation:hover {
    background-color: #333;
}


/* List styles */

.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    /* Allow absolute positioning inside */
}

.list-group-item h2 {
    color: #555;
}

.list-group-item p {
    font-size: 16px;
    color: #666;
}


/* Button details within list items */

.btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
}

.btn-info {
    background-color: #000;
    color: white;
}

.btn-info:hover {
    background-color: #333;
}

.btn-warning {
    background-color: #333;
    color: white;
}

.btn-warning:hover {
    background-color: #000;
}

.btn-danger {
    background-color: #000;
    color: white;
    float: right;
    /* Make the delete button float to the right */
}

.btn-danger:hover {
    background-color: #444;
}


/* Clear float style */

.list-group-item:after {
    content: "";
    display: block;
    clear: both;
}

.diverror {
    color: rgb(42, 173, 53);
    font-size: 14px;
    padding: 10px;
    float: right;
}