#Home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#News {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    border: 1px solid rgba(15, 11, 11, 0.548);
    width: 100%;
    padding: 10px;
    background-color: #888;
}

#Statistics {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#About {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Contact-us {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#Contact-us form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
    height: 360px;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* Styles pour les étiquettes */

label {
    font-weight: bold;
}


/* Styles pour les champs de saisie */

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Styles pour le bouton d'envoi */

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}


/* Changement de couleur du bouton au survol */

input[type="submit"]:hover {
    background-color: #45a049;
}

* {
    margin: 0;
    padding: 0;
}

.navigation-menu {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    font-family: 'figtree', sans-serif;
    padding: 15px;
    position: fixed;
    width: 100%;
    margin-bottom: 90px;
}

.navigation-menu .nav-link {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    line-height: 16px;
}

.navigation-menu .nav-link:hover {
    color: #888;
}

.navigation-menu .nav-link.active {
    font-weight: bold;
    border-bottom: 2px white solid;
}

.nav-icon {
    color: white;
    font-size: 24px;
    margin-top: -2px;
}

.icon {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}

.icone a i:hover {
    cursor: pointer;
    color: #888;
}

.link-user {
    float: right;
    margin-right: 60px;
    border: 1px white solid;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.link-user:hover {
    background-color: #88888886;
    cursor: pointer;
}

#titre {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 100px;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(252, 251, 251, 0.911);
    text-align: left;
}